<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Conversation Flow</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script>
      function handleFormSubmit() {
        const submitButton = document.getElementById('submit-button');
        submitButton.innerHTML = 'Loading...';
        submitButton.classList.add('loading');
        submitButton.disabled = true;
      }

      function navigateToManyConversations() {
        window.location.href = "/many-conversations";
      }
      function navigateToCompareTwo() {
        window.location.href = "/compare-two";
      }
      function navigateToTopics() {
        window.location.href = "/topics";
      }
    </script>
  </head>
  <body>
    <h1>Track the progression of a conversation</h1>

    <form action="/conversation-flow" method="post"  onsubmit="handleFormSubmit()">
      <label for="conversation">Conversation:</label><br />
      <textarea id="conversation" name="conversation" rows="5" cols="50"><% if (conversation !== null) { %><%- conversation %><% } %></textarea><br />

      <button id="submit-button" type="submit">Calculate Flow</button>
    </form>
    <div class="message" id="results">
      <% if (message !== null) { %>
        <p class="message"><%- message %></p>
      <% } %>
    </div>
    <button class="nav-button" onclick="navigateToManyConversations()">Go to Many Conversations</button>
    <button class="nav-button" onclick="navigateToTopics()">Topics</button>
    <button class="nav-button" onclick="navigateToCompareTwo()">Compare Two Conversations</button>
  </body>
</html>
